[submodule "SDL2"]
	path = SDL2
	url = https://github.com/bl3utide/iplib-sdl2
[submodule "ImGui"]
	path = ImGui
	url = https://github.com/bl3utide/iplib-imgui
[submodule "RtMidi"]
	path = RtMidi
	url = https://github.com/bl3utide/iplib-rtmidi
